# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
*.Rproj

# R files
.RData
Rplots.pdf

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# DATA files
DATA/*.csv
DATA/*.pdf
.Rproj.user
submission/*.csv

DATA/*.RData
DATA/*.png


*.csv

# vim trash files
*~
*.swp

# sqlite
db.sqlite3
bin

# pdf
pdf/*.pdf
